<a href="https://colab.research.google.com/github/1ashish1105/Machine_Learning/blob/main/My_Own_SLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
class my_Lr:

  def __init__(self):
    self.m=None
    self.b=None

  def fit(self,X_train,y_train):
    X_train = X_train.values
    y_train = y_train.values
    num=0
    dem=0

    for i in range(X_train.shape[0]):
      num=num+((X_train[i]-X_train.mean())*(y_train[i]-y_train.mean()))
      dem=dem+((X_train[i]-X_train.mean())*(X_train[i]-X_train.mean()))

    self.m=num/dem
    self.b=y_train.mean()-(self.m*X_train.mean())
    print(self.m)
    print(self.b)

  def predict(self,X_test):
    print(X_test)
    return self.m*X_test+self.b

In [49]:
import numpy as np
import pandas as pd

In [50]:
df=pd.read_csv('placement.csv')

In [51]:
X=df.iloc[:,0:1]
y=df.iloc[:,-1]

In [52]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [53]:
X

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [54]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [55]:
lr = my_Lr()
lr.fit(X_train, y_train)

[0.55795197]
[-0.89611192]

In [61]:
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [67]:
X_train.iloc[0,0]

np.float64(7.14)

In [68]:
print(lr.predict(X_test.iloc[0,0]))

8.58
[3.89111601]

In [69]:
print(lr.predict(7.9))

7.9
[3.51170867]